!!! html
//if lt IE 7
  <html class="no-js ie6 oldie" lang="en">
//if IE 7
  <html class="no-js ie7 oldie" lang="en">
//if IE 8
  <html class="no-js ie8 oldie" lang="en">
//[if gt IE 8]><!
html(xmlns:fb="https://www.facebook.com/2008/fbml", class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    
    title Node-Rocket Workshop #1
    
    meta(name='description', content='')
    meta(name='author', content='')

    link(rel="shortcut icon",href="/static/favicon.ico")
 
    link(rel='stylesheet', href='/css/style.css')

    - if (typeof boot_options === 'undefined')
      !=rocket.header(controller)
    - else
      !=rocket.header(controller, boot_options)

body()

  #container

    #header
      #header-wrapper
        a(href='/')
          h3 Node-Rocket Workshop #1
    
    #content
      #outter
        #inner
          #inner2
            !=body
      
     
    #footer

     - if (typeof boot_options === 'undefined')
       !=rocket.footer(controller)
     - else
       !=rocket.footer(controller, boot_options)

     - if (typeof disableChromeFrameInstall === 'undefined')

       //if lt IE 6
         script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', defer)
         script(defer) window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
